.footer{
background-color: rgb(52, 122, 182);
width:100%;
}
body {
	background: url('../image/background2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-attachment: fixed;
	background-color: #464646;
	color: white;
	height: 100%;
}
.well{
	background: #f5f5f5;
	color: #000;	
}
.fa{
	width: 10px;
}